NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173

DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=
JWT_EXPIRATION=8h

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET_FOTOS=fotos-usuarios
SUPABASE_BUCKET_COMPROBANTES=comprobantes

GMAIL_USER=fitzonesports@gmail.com
GMAIL_APP_PASSWORD=
